<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a href="javascript:history.back()" class="btn btn-outline-secondary me-2">&larr; Back</a>
      <span class="navbar-brand">Travel Request</span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <span class="navbar-text d-flex align-items-center">
              Username
              <!-- Avatar image with no border -->
              <img src="https://img.pikbest.com/png-images/play-gradient-vector-logo-design-on-black-background_1620094.png!f305cw" alt="Avatar" class="rounded-pill ms-2 no-border" style="width: 3em;">
          </span>
          <button type="button" class="btn btn-link ms-3" (click)="logout()">Logout</button>
      </div>
  </div>
</nav>
