<!-- Desktop -->
<div class="d-none d-lg-flex flex-column mt-4">
    <button class="btn btn-primary mb-2">Approved</button>
    <button class="btn btn-secondary mb-2">Rejected</button>
    <button class="btn btn-info">In progress</button>
  </div>
  
  <!-- Mobile -->
  <div class="row d-lg-none mt-3">
    <div class="col text-center">
      <button class="btn btn-primary me-2">Approved</button>
      <button class="btn btn-secondary me-2">Rejected</button>
      <button class="btn btn-info">In progress</button>
    </div>
  </div>
  