<app-nav></app-nav>
<div class="container mt-3">
  <div class="row mb-3">
    <!-- New Request Button aligned to the right -->
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-success" aria-label="New Travel Request" [routerLink]="['/employee/new-travelrequest']">New Request</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="table-responsive">
        <!-- Table Structure -->
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Purpose</th>
              <th scope="col">Status</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through the requests array and display each request -->
            <tr *ngFor="let request of requests; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ request.purpose_of_travel }}</td>
              <td>{{ request.employee_status }}</td>
              <td class="text-center">
                <!-- View Button -->
                <button class="btn btn-outline-dark" [routerLink]="['/employee/travel_request', request.id]">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
  
